video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.img-background {
    object-fit: none;
    width: 100%;
    height:100%;
    position: fixed;
    top: 60px;
    z-index: -1;
}

.img-title {
    position: absolute;
    object-fit: none;
    width: 80%;
    height: 50%;
    top: -50px;
    z-index: -1;
}

.front-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
}

.explore-container {
    height: 70vh;
    width: 100%;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: none;
}

.front-container > h1 {
    color: #50A5FF;
    font-size: 40px;
    position: absolute;
}
/* 
.front-container > p {
    margin-top: 8px;
    color: #7ABBFF;
    font-size: 32px;
    font-family: 'Rebuchet MS', 'Lucida Sans Unicode', 
    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} */


  
.front-btns {
    margin-top: 100px;
    position: absolute;
    top: 80px;
}

.front-btns .btn {
    margin: 0px;
}



