/*style for background gif*/
.img-background {
    object-fit: none;
    width: 110%;
    height:110%;
    position: fixed;
    top: 80px;
    z-index: -1;
}

.front-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
    font-family: 'Nunito', sans-serif;
    color: #162031;
}

/*welcome styling*/
.welcome_front {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40px;
    font-size: 60px;
}

/*for the explore page*/
.explore-container {
    height: 70vh;
    width: 100%;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: none;
}
  
/*buttons*/
.front-btns {
    margin-top: 100px;
    position: absolute;
    top: 120px;
}

.front-btns .btn {
    margin: 0px;
}



