.form-div {
    /*border: 1px solid black;*/
    padding-top: 20px;
    font-family: 'Nunito', sans-serif;
    width: 50%;
    align-items: center;
    justify-content: center;
}
.search-bar {
    display: grid;
    padding-top: 80px;
    grid-template-columns: 3fr 3fr 3fr 1fr;
}
.search-bar div {
    flex: 1;
}
.form-div {
    margin: 0 auto; 
    display: grid;
}
.search-bar-main {
    display: flex;
    align-items: center;
    flex-direction: row;
    border: 2px solid;
    border-color: #162031;
    border-radius: 35px;
    padding: 10px 20px 10px 20px;
    width: 750px;
    padding: 20px 30px;
}
.input-box {
    margin-top:0px;
    display: flex;
    flex-direction: column;
    flex: 1;
    /* box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); */
    border-radius: 10px;
    border: 1px solid;
    border-width: 0.5px;
    font-size: 17px;
    text-indent: 10px;
    width: 80%;
}


.bar_item {
}

input[type=text]:focus {
    outline: 2px solid #FFD77B;
}

.btn {
    height: 28px;
    border-radius: 10px;
    transition: all 0.3s ease-out;
    /* padding: 8px 17px; */
}
.btn:hover {
    cursor: pointer;
}

.btnsearch {
    background-color: #FFD77B;
    color: #394252;
    /*border: 0.5px solid var(#394252);*/
    font-size: 13px;
    width: 90%;
    /* margin: -6px; */
    cursor: pointer;
    font-weight: bold;
}

.btnfilter {
    background-color: #394252;
    color: #FFD77B;
    transition: all 0.3s ease-out;
    /* background-color: #D3D3D3; */
    width: 90%; 
    text-align: center;
    margin: 0 auto; 
}

.login-container {
    height: 300px;
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
}
.btn--primary {
    background-color: #50A5FF;
    color: #FFD77B;
    border: 1px solid #50A5FF;
}
/* .btn--search {
    background-color: #50A5FF;
    color: #FFD77B;
    border: 1px solid var(--primary);
} */
label {
    font-size: 12px;
}
.img-background {
    position: relative;
    /* size: 50% 100%; */
    width: 100%;
    height: 100%;
    z-index: -1;
}

.title {
    font-size: 40px;
}
.content {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.filters_bar {
    display: grid;
    position: relative;
    margin-top: -45px;
    margin-left: 40px;
}

/* .filters_bar.active {
    display: none;
} */

.filters {
    display: none;
}

.filters.active {
    display: flex;
    flex-direction: column;
    width: 180px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: absolute;
    margin-top: -23px;
    margin-left: 80px;
    opacity: 1;
    padding: 8px 8px 25px;
    transition: all 1s ease;
    background-color: #394252;
    color: #FFD77B;
    z-index: 3;
}

.filter_item.active {
    opacity: 1; 
    /* display: none; */
}

.filter_item {
    opacity: 1; 
    display: flex;
    flex-direction: column;
    position: relative;
    list-style: none;
    /* transition: all 0.2s ease-out; */
}

.text_s {
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    margin-top: 7px;
    margin-bottom: 4px;
    border: transparent;
}

.text_special {
    position: relative;
    font-size: 12px;
    margin-top: 10px;
    margin-left: 30px;
}

.check_box_s {
    position: relative; 
    margin-bottom: -25px;
    margin-top: 5px;
    height: 15px;
    width: 15px;
    border: transparent;
  }
